<div class="row" style="height: 500px">
  <div class="col-md-6">

  </div>

  <div class="col-md-4 col-md-offset-2" style="border-left-style: inset; border-left-width: 1px; height: 100% ">
    <div class="panel panel-primary" style="height: 100%; overflow: scroll;">
      <div class="center" style="border-bottom-width: 1px; border-bottom-style: inset; position: fixed; width: 25%; background-color: green">
        <h2 class="center" style="text-align: center">Follower Activities</h2>
      </div>
      <div style="margin-left: 10px; overflow: scroll; margin-top: 60px" >
        <p>test1</p>
        <p>test2</p>
        <p>test3</p>
        <p>test4</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>
        <p>test1</p>
        <p>test2</p>
        <p>test3</p>
        <p>test4</p>
        <p>1</p>
        <p>1</p>
        <p>1</p><p>test4</p>
        <p>1</p>
        <p>1</p>
        <p>1</p><p>test4</p>
        <p>1</p>
        <p>1</p>
        <p>1</p><p>test4</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>
      </div>
    </div>
  </div>
</div>

